<form *ngIf="formDataLoaded; else spinner;" [formGroup]="shoppingListForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field appearance="standard">
            <mat-label>Nazwa Listy:</mat-label>
            <input placeholder="Nazwa listy" matInput formControlName="name"/>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Wykonawca:</mat-label>
            <input placeholder="Wpisz kontakt" matInput formControlName="assignee" [matAutocomplete]="auto"/>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let contact of contacts" [value]="contact.uid">
                    {{contact.displayName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <ng-container formArrayName="stores">
        <div class="storeContainer" *ngFor="let store of getStores().controls; index as i;">
            <div [formGroupName]="i">
                <mat-form-field appearance="standard">
                    <mat-label>Nazwa Sklepu:</mat-label>
                    <mat-select formControlName="name">
                        <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="itemsContainer" formArrayName="items">
                    <div class="listItem" *ngFor="let storeItem of getStoreItems(i).controls; index as j;">
                        <ng-container [formGroupName]="j">
                            <mat-form-field appearance="standard" class="productName">
                                <mat-label>Produkt:</mat-label>
                                <input matInput formControlName="name"/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="quantity">
                                <mat-label>Ilość:</mat-label>
                                <input matInput formControlName="quantity" type="number"/>
                            </mat-form-field>

                            <mat-form-field appearance="standard" class="unit">
                                <mat-label>Jednostka:</mat-label>
                                <mat-select matInput formControlName="unit">
                                    <mat-option *ngFor="let unit of units" [value]="unit">{{unit}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="descriptionCheckbox">
                                <span class="descriptionCheckbox__text">Opis:</span>
                                <mat-checkbox color="primary" formControlName="showDescription">
                                </mat-checkbox>
                            </div>


                            <button class="removeItemButton" type="button" (click)="removeStoreItem(i,j)">
                                <img src="assets/images/trash-alt-regular.svg" alt="">
                            </button>
                            <div>

                                <mat-form-field *ngIf="getStoreItem(i, j).showDescription.value" appearance="standard">
                                    <mat-label>Opis:</mat-label>
                                    <input matInput formControlName="description"/>
                                </mat-form-field>
                            </div>


                        </ng-container>
                    </div>
                    <button type="button" class="d-block" mat-raised-button color="primary"
                            (click)="addProduct(i);">
                        Dodaj produkt
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <button type="button" class="d-block mx-auto my-3 px-5" mat-raised-button color="primary" (click)="addStore();">
        Dodaj sklep
    </button>

    <div class="submitButtonWrapper w-100 p-3 bg-light">
        <button type="submit" class="d-block w-100 submitButton" mat-raised-button>Submit</button>
    </div>
</form>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>
