<div *ngIf="shoppingList$ | async as shoppingList">
    <div class="font-weight-bold mx-3 mt-2 mb-0 d-flex justify-content-between">
        <span>Produkt</span>
        <span class="ml-auto mr-3">Ilość</span>
    </div>


    <mat-list *ngFor="let store of shoppingList.stores">
        <mat-list-item class="font-weight-bold">
            {{store.name}}
        </mat-list-item>
        <app-shopping-list-item
            *ngFor="let item of store.items"
            [item]="item"
            (itemRemovedFromList)="onItemRemovedFromList($event, store)"
            (itemReAddedToTheList)="onItemReAddedToTheList()"></app-shopping-list-item>
    </mat-list>
</div>
